@import './base.css';
@import 'tailwindcss';

@theme {
  --color-primary: #17cfbc;
  --color-secondary: #6b03fc;
  --color-secondary-50: #3c0091;
  --color-tertiary: #530532;

  --font-force: 'Force Majeure', sans-serif;
  --font-force-title: 'Force Majeure Title Italic', sans-serif;
}

@layer {
  .overlay {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000000a9;
    }
  }
  .max-width {
    max-width: 1200px;
    margin: auto;
  }

  .glassmorphism {
    color: #fff;
    background: rgba(0, 0, 0, 0.589);
    border-radius: 0.5rem;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    border: 1px solid rgba(0, 0, 0, 0.31);
  }

  .test {
    border: 1px solid #f00;
  }
}
